<select [(ngModel)]="query_param" (change)="onChangeGoods($event)" [compareWith]="compareFn">
    <option [ngValue]="{'sortBy': 'price', 'sortOrder': 'asc'}">price low-high</option>
    <option [ngValue]="{'sortBy':'price', 'sortOrder':'desc'}"> price high-low</option>
    <option [ngValue]="{'sortBy':'rating', 'sortOrder':'desc'}">sort by rating</option>
</select>


<select [(ngModel)]="brand" (change)="onChangeBrand($event)" [compareWith]="compareFn">
    <option [ngValue]="''">BRAND not selected</option>
    <option [ngValue]="brand" *ngFor="let brand of brands">{{brand}}</option>
</select>



<div *ngIf="category?.sales.length==!0">
    <div *ngFor="let sale of category.sales">
        <p>
            discount on goods in this category: {{sale.value_percentage}}</p>
    </div>
</div>

<div class="area-category-goods">
    <div *ngFor="let good of goods ">
        <div class="card" style="width: 18rem; margin: 10px;">
            <img class="card-img-top" src="{{good.photo}}" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">{{good.title}}</h5>
                <div>{{good.rating}}</div>
                <div *ngFor="let sale of good.category.sales ">{{sale.value_percentage}}
                    <!--                        <div *ngIf="sale.value_percentage as sale_area">{{sale_area}}</div>-->
                </div>
                <p class="card-text">{{good.feature}}</p>
                <a routerLink="goods/{{good.id}}" class="btn btn-primary" routerLinkActive="active">open detailed
                    specifications</a>
            </div>
        </div>
    </div>
</div>

<div *ngIf="goods.length ==0"><p class="not-found">nothing founds...</p></div>

<div *ngIf="meta&&meta.last_page>1">
    <button *ngIf="meta&&meta.current_page>1"><a (click)="prevPage()">Prev</a></button>
    <p>Page {{meta.current_page}} of {{meta.last_page}}</p>
    <button *ngIf="meta&&meta.current_page<meta.last_page"><a (click)="nextPage()">Next</a></button>
</div>
