<div style="margin: 16px 50px" *ngIf=" user">
    <form [formGroup]="form" id="usrform" (ngSubmit)="submit()">
        <div class="mb-3">
            <label for="first_name" class="form-label">first name</label>
            <input type="text" class="form-control" id="first_name" value="{{user.first_name}}">
        </div>
        <div class="mb-3">
            <label for="last_name" class="form-label">last name</label>
            <input type="text" class="form-control" id="last_name" value="{{user.last_name}}">
        </div>
        <div class="mb-3">
            <label for="country" class="form-label">country</label>
            <input type="text" class="form-control" id="country" value="{{user.country}}">
        </div>
        <div class="mb-3">
            <label for="city" class="form-label">city</label>
            <input type="text" class="form-control" id="city" value="{{user.city}}">
        </div>
        <div class="mb-3">
            <label for="phone" class="form-label">phone</label>
            <input type="text" class="form-control" id="phone" value="{{user.phone}}">
        </div>
        <!--    <label for="payment" class="small">choose delivery method</label>-->
        <select class="form-select"  style="margin-bottom:16px" formControlName="delivery" id="delivery">
            <option [value]="null" hidden>choose delivery method</option>
            <option value="pickup">pickup</option>
            <option value="courier delivery">courier delivery</option>
        </select>
        <select class="form-select" formControlName="payment" id="payment">
            <option [value]="null" hidden>select a payment method</option>
            <option value="paymentByCard">paymentByCard</option>
            <option value="cash">cash</option>
            <option value="cod">cod</option>
        </select>
        <div class="mb-3">
            <label for="info" class="form-label">info</label>
            <textarea  formControlName="info"  class="form-control" id="info"  placeholder="specify the delivery address and the desired carrier"></textarea>
        </div>
        <div style="margin: 16px 0">the total amount of the order: {{this.sum}}</div>
        <button type="submit" class="btn btn-primary" [disabled]="form.invalid || submitted">send an order</button>
    </form>
</div>

