.navbar.main{
  background-color: #b7ffda;
  background-repeat: no-repeat;
  background-size: cover;
}
.footer{
  background-color: #b7ffda;
  background-size: cover;
}
.foo{
  display: flex;
  flex-direction: row;
}
.control{
  display: flex;
  flex-direction: row;
}
.btn{
  margin-right: 15px;
}

