<nav class="navbar main">
    <h1>TECHNO</h1>
    <!--<input type="text" placeholder="find a product..." [(ngModel)]="search">-->

    <div class="control">

        <div class="input-group">
            <div class="form-outline">
                <input type="search"  class="form-control" [(ngModel)]="search" (change)="onSearchChange()" placeholder="find a product..."/>
            </div>
            <button type="button" class="btn btn-primary" (click)="SearchGood(search)">
                <i class="fa fa-search"></i>
            </button>
        </div>

        <button type="button" class="btn btn-primary" *ngIf="!checkAuth()"
                routerLink="register">Register
        </button>
        <button type="button" class="btn btn-primary" *ngIf="!checkAuth()"
                routerLink="login">Login
        </button>
        <button type="button" class="btn btn-primary" (click)="logout($event)" *ngIf="checkAuth()"
        >Logout
        </button>
    </div>
</nav>
<app-alert></app-alert>
<div >
    <div class="foo">
        <menu style="padding-inline-start: 10px; width: 15%; margin-top: 10px"></menu>
    <router-outlet></router-outlet>
    </div>
</div>




<footer class="footer mt-auto py-3">

    <div class="footer-copyright text-center py-3">© 2021 Copyright:
        <a href="https://mdbootstrap.com/">Bootstrap.com</a>
    </div>

</footer>

