<select [(ngModel)]="query_param" (change)="onChangeGoods($event)"  [compareWith]="compareFn" >
    <option [ngValue]="{'sortBy': 'price', 'sortOrder': 'asc'}" >price low-high</option>
    <option [ngValue]="{'sortBy':'price', 'sortOrder':'desc'}" > price high-low</option>
    <option [ngValue]="{'sortBy':'rating', 'sortOrder':'desc'}" >sort by rating</option>
</select>


<select [(ngModel)]="brand" (change)="onChangeBrand($event)" [compareWith]="compareFn" >
    <option [value]="''" >BRAND not selected</option>
    <option [value]="brand" *ngFor="let brand of brands">{{brand}}</option>
</select>


<div *ngIf="goods.length ==0"><p class="not-found">nothing founds...</p></div>

<div class="main-page">
    <div *ngFor="let good of goods ">
        <div class="card" style="width: 18rem; margin: 10px;">
            <img class="card-img-top" src="{{good.photo}}" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">{{good.title}}</h5>
                <h5>{{good.price}}</h5>
                <p *ngIf="good.sale_goods[0]">good sale: {{good.sale_goods[0].value_percentage}} %</p>

                <ngb-rating [(rate)]="good.rating" readonly="true">
                    <ng-template let-fill="fill" let-index="index" >
                        <span class="star" [class.filled]="fill === 100" [class.bad]="index < 3">&#9733;</span>
                    </ng-template>
                </ngb-rating>
                <hr>

                <p class="card-text">{{good.feature}}</p>
                <a class="btn btn-primary"
                   routerLink="area/{{good.category.area_category.id}}/category/{{good.category_id}}/goods/{{good.id}}">
                    open detailed specifications</a>
            </div>
        </div>
    </div>
</div>


<div *ngIf="meta&&meta.last_page>1">
    <button *ngIf="meta&&meta.current_page>1"><a (click)="prevPage()">Prev</a></button>
    <p>Page {{meta.current_page}} of {{meta.last_page}}</p>
    <button *ngIf="meta&&meta.current_page<meta.last_page"><a (click)="nextPage()">Next</a></button>
</div>
