<select [(ngModel)]="query_param" (change)="onChangeGoods($event)" [compareWith]="compareFn" >
    <option [ngValue]="{'sortBy': 'price', 'sortOrder': 'asc'}" > От дешевых к дорогим</option>
    <option [ngValue]="{'sortBy':'price', 'sortOrder':'desc'}" > От дорогих к дешевым</option>
    <option [ngValue]="{'sortBy':'rating', 'sortOrder':'desc'}" > По рейтингу</option>
</select>


<select [(ngModel)]="brand" (change)="onChangeBrand($event)" [compareWith]="compareFn" >
    <option [ngValue]="''" >BRAND not selected</option>
    <option [ngValue]="brand" *ngFor="let brand of brands">{{brand}}</option>
</select>


<div *ngIf="goods.length ==0"><p class="not-found">loading goods...</p></div>

<div class="main-page">
    <div *ngFor="let good of goods ">
        <div class="card" style="width: 18rem; margin: 10px;">
            <img class="card-img-top" src="{{good.photo}}" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">{{good.title}}</h5>
                <p class="card-text">{{good.feature}}</p>
                <a class="btn btn-primary"
                   routerLink="area/{{good.category.area_category.id}}/category/{{good.category_id}}/goods/{{good.id}}">
                    open detailed specifications</a>
            </div>
        </div>
    </div>
</div>


<div *ngIf="meta&&meta.last_page>1">
    <button><a (click)="prevPage()">Prev</a></button>
    <p>Page {{meta.current_page}} of {{meta.last_page}}</p>
    <button><a (click)="nextPage()">Next</a></button>
</div>
